<!DOCTYPE html>
<html lang="en" ng-app="iratner">
	<head>
		<meta charset="UTF-8">
  		<title>I, Ratner</title>
  		<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  		<link rel="stylesheet" type="text/css" href="/style.css">
  		<base href="/">
	</head>
	<body ng-controller="MainCtrl">
		<div id="menubar">
			<h1><a href="https://en.wikipedia.org/wiki/I,_Robot" target="_blank">I, Ratner</a></h1>
			<ul id="sections">
				<li ng-class="{active: isSet(1)}"><a href="#/" ng-click="setTab(1)">Home</a></li><li ng-class="{active: isSet(2)}"><a href="#about" ng-click="setTab(2)">About</a></li><li ng-class="{active: isSet(3)}"><a href="#articles" ng-click="setTab(3)">Articles</a></li><li ng-class="{active: isSet(4)}"><a href="#projects" ng-click="setTab(4)" id="last">Projects</a></li>
			</ul>
		</div>
		<div id="content">
			<div ng-view></div>
		</div>
		<!-- AngularJS library -->
		<script type="text/javascript" src="js/angular.min.js"></script>
		<!-- FusionCharts library-->
		<script type="text/javascript" src="js/fusioncharts.js"></script>
		<script type="text/javascript" src="js/fusioncharts.charts.js"></script>
		<!-- Angular plugin -->
		<script type="text/javascript" src="js/angular-fusioncharts.min.js"></script>
		<script src="https://code.angularjs.org/1.4.7/angular-route.js"></script>
		<script src="/app.js"></script>
	</body>
</html>	
