html { 
	font-size: 62.5%;
	font-family: 'Arvo', serif;
} 

body { 
	font-size: 1.8rem; /* =18px */
} 

h1 { 
	font-size: 3.0rem; /* =30px */
	text-align: center;
} 

a {
	text-decoration: none;
	color: black;
}

#sections a {
	border-right: 1px solid black;
	display: inline-block;
	padding: 2rem;
}

#sections a:hover {
	background-color: #98D2EB;
	color: white;
}

.active {
	background-color: #F1DEDE;
}

ul,p {
	text-align: center;
	padding: 2rem;
	line-height: 2.7rem;
}

li { 
	display: inline-block;
	font-size: 2rem;
	text-align: center;
} 

.projects{
	text-align: center;
}

.projects li{
	display: block;
	line-height: 4rem;
}
.projects a{
	text-decoration: underline;
}

#last {
	border: none !important;
}

#menubar {
	margin-left: auto;
	margin-right: auto;
}

#content {
	margin-left: auto;
  	margin-right: auto;
}

.post {
	text-align: left;
	margin: 16rem;
	margin-top: 1rem;
}

.header {
	margin: 0;
	padding: 0;
}

#homepage {
	padding: 0 15rem 0 15rem;
}

p a{
	text-decoration: underline;
}

.slim * {
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
}

.footer {
	font-size: 1.2rem;
}