<div ng-controller="DeductoramaCtrl">
	<link rel="stylesheet" href="pages/deductorama.css">
		<div class="instructions">
			<h2>Deductorama</h2>
			<p>Your goal is to guess the correct pattern. Keep clicking on a circle to cycle through all color choices. A black dot indicates some correct color in the correct position, while a grey dot represents some correct color in the wrong position.</p>
			<div>
				<span ng-hide="winner || loser">You have {{submissions+1}} guesses left.</span>
				<span ng-show='notAllFilledOut'>Please fill out all the circles!</span>
				<span ng-show='winner'>You win!</span> 
				<span ng-show='loser'>You lose.</span>
			</div>
		</div>
		<div class='board'>
			<div class="column" id="column{{$index+1}}" ng-repeat="guess in guesses track by $index">
				<div class="pegs">
					<div class="peg" id='peg{{$index+1}}' ng-repeat='row in rows track by $index' style='background-color: {{pegsArray[$parent.$index][$index]}}'></div>
				</div>
				<div class='circles'>
					<div class='circle' id="circle{{$index+1}}" ng-repeat='row in rows track by $index' style='background-color: {{guesses[$parent.$index][$index]}}'></div>
				</div>	
			</div>
			<div class='column'id="workingColumn">
				<div class="pegs">
					<div class="peg" id='peg{{$index+1}}' ng-repeat='row in rows track by $index'></div>
				</div>
				<div class='circles'>
					<div class='circle' id="circle{{$index+1}}" ng-click="colorCycler($index, colorsArray)" ng-repeat='row in rows track by $index' style='background-color: {{colorsArray[$index]}}'></div>
				</div>
			</div>	
		</div>
		<div class="buttons">
			<span ng-hide="winner || loser" id="submit" ng-click="submit(colorsArray)">Submit Guess!</span>
			<span id="reveal" ng-hide="winner" ng-click="revealAnswer()">Reveal Solution!</span>
			<span id="replay" ng-click="playAgain()">Play Again!<span>
		</div>	
</div>			