
h1, h2, p, div, footer {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	/*font-family: "Helvetica Neue", Helvetica, sans-serif;*/
}
h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

h4 {
	font-size: 15px;
	font-weight: normal;
	text-align: center;
}

.header {
	padding: 10px 60px 10px 60px;
	border: 0px 60px 10px 60px;
	margin: 0px 60px 10px 60px;
}

.board {
	padding: 10px 60px 10px 60px;
	border: 10px 60px 10px 60px;
	margin: 10px 60px 10px 60px;
}

.column {
	width: 70px;
	height: 300px;
	padding: 0;
	margin: 0;
	border: 0;
	display: inline-block; 

}


.footer {
	font-size: 15px;
	font-weight: normal;
	text-align: center;
}

.rectangle {
	border-radius: 25px;
	width: 1000px;
	height: 400px;
	margin-top: -1px;
	margin-left: auto;
    margin-right: auto;
    /*border: 2px solid black;*/
    padding: 10px 10px 20px 10px;
}

#upper {
	height: 50px;
	width:  1000px
	border: 2px solid black;
}

/*#reveal {
	position: fixed;
}
#submit {
	position: fixed;
}
#replay {
	position: fixed;
}*/

/*.columns {
	height: 400px; 
	width: 65px;
	display: inline-block;
	border: 1px dashed black;
}*/

.words {
	margin: auto;
	height: 60px; 
	width: 200px;
}

.clues {
	height: 40px; 
	width: 65px;
	display: inline-block;
	/*border: 1px dashed black;*/
}

.circle {
	width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px; 
    display: block;
    border: 2px solid black;
    margin: 5px 5px 5px 5px;
}

.peg {
	width: 10px;
    height: 10px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px; 
    display: inline-block;
    border: 2px solid black;
    margin: 3px 3px 3px 10px;
}

.pegs {
	display: block;
}

.button-div {
	text-align:center;
	display: block;
	width: 200px;
    height: 200px;
	display: block
	padding-left: 60 px;
	padding-right: 60 px;
	border-left: 60 px;
	border-right: 60 px;
	margin-left: 60 px;
	margin-right: 60 px;
	margin: 0 auto;
    width: 100px; 
	}

.but {
	text-align: center;
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

.red {
	background-color: red;
}

.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.purple {
	background-color: purple;
}
